* {
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}



.complete-page {
    background-color: #fdedd8;
}

h1 {
    color: #344d60;
    font-family: cursive;
}
