@mixin display-flex($direction: row, $justify: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;

}

* {
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-container {
    @include display-flex;

    nav {
        width: 100%;
    }
}

.nav-list {
    @include display-flex($justify: flex-end);
    padding-left: 100px;
    padding-right: 50px;
    flex-wrap: wrap;

    li {
        a {
            color: white;
        }
    }

    li+li:before {
        content: " | ";
        padding: 0 40px;
        color: white;
    }
}



main {
    @include display-flex($direction: column);
    align-content: center;

}

.main-section {

    @include display-flex($direction: column);
    align-items: center;
    padding: 50px 150px 50px 150px;
    gap: 50px;

}

.card-container {
    @include display-flex($justify: center);
    gap: 15px;
}

.hamburguer {
    display: none;

}

.footer-list {
    @include display-flex($justify: safe);
    gap: 70px;

}

/* Responsive Mobile  */

@media (max-width: 375px) {

    .main-section {
        padding: 50px;
    }

    .card-container {
        flex-direction: column;

    }

    .nav-list {
        display: none;
    }

    .hamburguer {
        display: block;
        padding-left: 20px;

    }

    .footer-list {
        gap: 5px;

    }

}

/* Responsive Tablet Index */

@media (max-width: 1024px) and (min-width: 375px) {

    .nav-list {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .main-section {
        padding: 50px;
    }


    .footer-list {
        gap: 50px;

    }


}