@import '../base';

.titulo-principal {
    padding: 15px;
    color: white;
    font-family: fantasy;
    font-size: xx-large;
    width: 50%;
    font-weight: 900;

}

h2 {
    color: #344d60;
    font-family: cursive;

}

.main-header {
    background-image: url(../img/Alojamientos/portada\ casa.png);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.reservation {
    color: white;
    @include display-flex($direction: column);
    margin: 20px;
    align-content: space-around;
    gap: 70px;

    h2 {
        color: white;
    }
}

.search-box {
    @include display-flex($justify: left);
    gap: 5px;
}


.btn {
    display: block;
    width: auto;
    border-radius: 5px;
    padding: 5px;

}

.btn-primary {
    background-color: rgb(209, 178, 120);
    border-color: rgb(209, 178, 120);
}

.btn:hover {
    background-color: rgb(197, 178, 143);
    border-color: rgb(209, 178, 120);
}

main {
    @include display-flex($direction: column);
    align-content: center;

}


.slide {
margin-top: 10px;
}

.slide img {
    height: 65vh;
}

.card-custom {
    background-color: white;
    border: 1px solid #ebdcdc;
    border-radius: 7px;
    box-shadow: 2px 2px 5px black;
    padding: 10px;

}

.button-index { gap: 30px;

}


/* Responsive Mobile  */

@media (max-width: 375px) {

    .titulo-principal {
        font-size: xx-large;
        margin: 10px;
   
    }

    .main-header {
        background-image: url(../img/Alojamientos/portada\ casa.png);
        min-height: 277px;

    }

    .nav-listado-index {
        display: none;
    }

    .search-box {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 7px;
    }

}

/* Responsive Tablet Index */

@media (max-width: 1024px) and (min-width: 375px) {

    .nav-container {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .main-header {
        padding-top: 30px;
        height: 500px;
    }

}