.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.card-container-housing {
    max-width:900px;
    flex-wrap: wrap;
}

.slide {
    width: 40px;
    height: 550px;
}

.carousel {
    width: 100%;
    
}

.carrusel {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.carousel-item {
    height: 550px;
    
}

.card-custom {
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #b6b6b6;
    padding: 10px;

}

.card-custom p {
    text-align: center;
}