.main-header {
    background-image: url(../img/Alojamientos/portada\ casa.png);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}