
* {
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*  inedex */

.titulo-principal {
    color: white;
    font-family: fantasy;
    font-size:xx-large;
    width: 50%;
    font-weight: 900;

} 

.main-header {
    background-image: url(../img/portada\ casa.png);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

}


.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-container nav {
    width: 100%;

}

.nav-list {
display: flex;
justify-content:flex-end;
padding-left: 100px;
padding-right: 50px;
flex-wrap: wrap;


}

.nav-list li a {
    color: white;
}

.nav-list li + li:before{
    content: " | ";
    padding: 0 40px ;
    color: white;
    
}

.reservation {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-content: space-around;
    gap: 15px;

}



main {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.main-section {

    display: flex;
    flex-direction: column;
    align-items:center ;
    margin: 50px;
    gap: 50px;
    

}


.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
   
}

.carousel {
    width: 100%;
    overflow: scroll;
    justify-content: left;
}

h2 {
    color: darksalmon;
    font-family: cursive;
    
}

.final-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: safe;
}

.card {
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #b6b6b6;
    padding: 10px;

}

.card p {
    text-align: center;
}

.hamburguer {
    display: none;

}
/* Responsive Mobile Index */

@media (max-width: 375px) {
    .card-container {
        flex-direction: column;
    }

    .titulo-principal {
        font-size: medium;
    }

    .main-header { 
        background-image: url(../img/portada\ casa.png);
        min-height: 277px;

    }

    .nav-list {
        flex-direction: column;
        content: none;
        align-items: flex-end;
        display: none;
        
    }

    .input-group {
        padding: 10px;


    }

    .hamburguer {
        display: block;
        padding-left: 20px;
    
    }



   

   

}

/*  Activities */

.nav-listado {
    
    display: flex;
    justify-content:center;
    padding-left: 100px;
    padding-right: 50px;
    flex-wrap: wrap;
   
}

.list {
    display: flex;
    color: black;
    justify-content:space-evenly;
    padding-left: 100px;
    padding-right: 50px;
    flex-wrap: wrap;
    gap: 10px;
}

.select-small {
   max-width: 40% !important ;

}

.boton{

    display: inline-block;
    padding: 10px 20px;
    border: 2px solid;
    color: bisque;
    text-align: center;
}

.look-activities {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-content: space-around;
    gap: 15px;

}


h1 {
    color: darksalmon;
    font-family: cursive;
}

.nav-listado { 
  display: flex;
  flex-direction: row;
  justify-content: center;
    
}



.carrusel {

     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 10px;
}

.complete-page {
    background-color: #fdedd8

}



.btn {
    display: block;
    width:auto;
    border-radius: 5px;
    padding: 5px;
    
}

.btn:hover {
    background-color: rgb(197, 178, 143);
    
}

.input-group {

    width:-webkit-fill-available;
    border-radius: 5px;
    padding: 5px;
    
}

.final {
    
        display: flex;
        justify-content:center;
        padding-left: 100px;
        padding-right: 50px;
        flex-wrap: wrap;
        
       
    }



/*  Escapadas */


.complete-page {
    background-color: #fdedd8;
}

.list {
    display: flex;
    justify-content:flex-end;
    padding-left: 100px;
    padding-right: 50px;
    flex-wrap: wrap;
    gap: 10px;
}


/* Lodgement */

